{
    "globals": {
        "__PATH_PREFIX__": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "extends": [
        "react-app",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "react/prop-types": 0,
        "prettier/prettier": "error"
    }
}