@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;
@use "library/foundation/shared-sections";

// ================
// Apply Landing Page Styles
// ================

// ================
// Apply

// Paste Layout Library Apply Section here


// ================
// Deferral

.lp-deferral {
  padding: 4vw 0;
  background: $c-lightGrey;

  .lp-deferral-content {
    @include foundation.containerStyle;

    max-width: $mq-800;
    margin: auto;
  }
}
