@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;

.🚀-give-1 {
// ================
// Guide Layout 1

.lp-intro-form {
  @include boxSpacing;

  .center{
    max-width: $mq-1000;
  }

  .lp-intro-form-content {

    .lp-intro {

      &::after {
        // CG image above form
        content: '';
        display: block;
        background: url("/images/img-contentgive.png") no-repeat center top / cover;
        width: 80%;
        max-width: 25rem;
        min-height: 10rem;
        height: 30vw;
        margin: auto;
      }
    }

    .lp-form {
      @include containerStyle();
    }
    
    @media (min-width: $mq-800) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 2rem;
      
      .lp-intro {
        // control for character lengths with max-width
        max-width: $mq-600;
        margin: auto;
        grid-column: 1 / 3;

        .lp-intro-title {
          text-align: center;
        }
        
        &::after {
          display: none;
        }
      }

      &::after {
        // CG image next to form
        content: '';
        display: block;
        background: url("/images/img-contentgive.png") no-repeat center / contain;
        width: 100%;
        height: 100%;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
      
    }
  }
}


}