@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;

.lp-intro-form {
  padding: 4vw 0;

  .lp-intro-form-content {
    max-width: $mq-800;
    margin: auto;
  }

  .lp-form {
    background: $c-lightGrey;
    padding: 2rem;
  }

  @media (max-width: maxMQ($mq-700)) {
    padding-bottom: 0;

    .lp-intro {
      &::after {
        content: "";
        display: block;
        height: 10rem;
        max-width: 17rem;
        margin: auto;
        margin-top: 2rem;
        background: url("/images/img-cg-prev-sm.jpg") no-repeat top /cover;
      }
    }
  }

  @media (min-width: $mq-700) {
    .intro-copy {
      display: flex;

      p {
        flex-basis: 70%;
      }

      &::after {
        flex-basis: 30%;
        z-index: 1;
        display: block;
        height: auto;
        margin-left: 1rem;
        background: url("/images/img-cg-prev.jpg") center top 0/100% auto no-repeat;
        content: "";
      }
    }
  }
}
