// Imports
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&family=Roboto:wght@300;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

// @include fontFace("fontawesome-webfont", "Icons");
// @include fontFace("icomoon", "Custom-Icons");

// ----------
// Variables
// ----------

// Colors
$c-lightGrey: #eee;
$c-grey: #6d6e71;
$c-heading-color: #242a56;
$c-border-info: #5cd6d6;
$c-border-alert: #d65c79;
$c-btn-primary: #3d4791;
$c-btn-primary-hover: #272f61;
$c-btn-active: #ed8b00;

// $c-btn-secondary: #00b1b0;
// $c-btn-secondary-hover: #007878;
$c-btn-secondary: #527f9c;
$c-btn-secondary-hover: #3a5b70;
$c-btn-tertiary: #7a82b8;
$c-neutral-black: #343434;
$c-neutral-gray-light: #f8f9fa;
$c-neutral-gray-dark: #f1f5f5;
$c-text-link: #0072ce;
$c-white: #fff;

// Border-radius
$b-border-radius: 0.5rem;

// Breakpoints
$mq-2000: 125rem;
$mq-1900: 118.75rem;
$mq-1800: 112.5rem;
$mq-1700: 106.25rem;
$mq-1600: 100rem;
$mq-1500: 93.75rem;
$mq-1400: 87.5rem;
$mq-1300: 81.25rem;
$mq-1200: 75rem;
$mq-1100: 68.75rem;
$mq-1000: 62.5rem;
$mq-900: 56.25rem;
$mq-800: 50rem;
$mq-700: 43.75rem;
$mq-600: 37.5rem;
$mq-500: 31.25rem;
$mq-400: 25rem;
$mq-300: 18.75rem;
