// import partials used by all pages
@use "styles/sass/shared";

// import partials only used here
// Note: Changed here to use the new @use syntax
@use "utilities/mixins";
@use "utilities/variables";
@use "sass/foundation/config";

// .helloworld {
//     color: red;
// }

// ----------
// General Settings
// ----------

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: variables.$c-lightGrey;
}

#measure-counter-extension {
  position: relative;
  width: 100%;
  left: 0 !important;
  top: 0 !important;
}

.wrapper {
  // padding-bottom: 2rem;
}

.page-title,
.intro-wrap {
  max-width: config.$mq-1000;
  width: 90%;
  margin: auto;

  p {
    margin: auto;
  }
}

.page-title {
  padding: 0;
  text-align: center;

  h1 {
    @include mixins.setFont("Roboto", 900, 3rem, 0.02rem, variables.$c-white );
    @include mixins.fluidRem("font-size", 1rem, 2rem);

    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 1rem 2rem;
    background: variables.$c-heading-color;
    display: inline-block;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-weight: 500;

    @media screen and (min-width: config.$mq-800) {
      text-align: center;
    }
  }
}

.intro-wrap {
  @include mixins.fluidRem("padding-top", 2rem, 3rem);
  @include mixins.fluidRem("padding-bottom", 2rem, 3rem);

  h2 {
    @include mixins.setFont("Roboto Slab", 300, 3rem, 0.02rem, variables.$c-heading-color);
    @include mixins.fluidRem("font-size", 1.5rem, 2.5rem);

    margin-bottom: 1.5rem;
    line-height: 1.2;
  }

  h3 {
    @include mixins.setFont("Roboto Slab", 700, 2.5rem, 0.02rem, variables.$c-heading-color);
    @include mixins.fluidRem("font-size", 1.65rem, 2.25rem);

    margin-bottom: 1rem;
    line-height: 1.2;
  }

  h4 {
    @include mixins.setFont("Roboto", 500, 2.5rem, 0.02rem, variables.$c-heading-color);
    @include mixins.fluidRem("font-size", 1.4rem, 1.75rem);

    margin-bottom: 1.5rem;
    line-height: 1;
  }

  p {
    @include mixins.setFont("Roboto", 300, 2rem, 0.02rem, variables.$c-neutral-black);
    @include mixins.fluidRem("font-size", 1rem, 1.15rem);

    width: 100%;
    line-height: 1.4;
  }

  @media screen and (min-width: config.$mq-800) {
    h2,
    h3,
    h4 {
      text-align: center;
    }

    p {
      max-width: config.$mq-700;

      ~ p {
        margin-top: 1rem;
      }
    }
  }
}

// ----------
// Navigation
// ----------
.hamburger-react {
  z-index: 5;
}

.top-nav {
  position: fixed;

  .main-menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.125rem;
    z-index: 5;
    background-color: variables.$c-btn-primary;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
    width: auto;
    text-align: left;
  }

  .main-menu-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: variables.$c-neutral-gray-dark;
    transition: 0.5s;

    &.show-menu {
      width: 35%;
      max-width: 25rem;
    }
  }
}

.close-btn {
  color: variables.$c-neutral-black;
  text-decoration: none;
  position: absolute;
  top: 1.5rem;
  right: 2.25rem;
  font-size: 4rem;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: variables.$c-text-link;
  }
}

.main-menu {
  position: relative;
  top: 18%;
  width: 100%;
  text-align: center;

  // margin-top: 2rem;

  a {
    color: variables.$c-neutral-black;
    display: block;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: 0.3s;

    @include mixins.setFont(
      "Roboto",
      700,
      1rem,
      0.02rem,
      variables.$c-neutral-black
    );
    @include mixins.fluidRem("font-size", 1.125rem, 1.5rem);

    &:visited {
      color: inherit;
    }

    &:hover,
    &:focus {
      background-color: variables.$c-text-link;
      color: white;
    }

    &:active {
      background-color: variables.$c-btn-active;
    }
  }
}

// ----------
// Code Block
// ----------

.code-block {
  @include mixins.fluidRem("padding-top", 1rem, 2rem);
  @include mixins.fluidRem("padding-bottom", 1rem, 2rem);

  background: darken(variables.$c-lightGrey, 10%);

  .code-block-wrapper {
    max-width: config.$mq-1000;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  pre {
    text-align: left;
  }

  button {
    border: none;
    border-radius: variables.$b-border-radius;

    &.button-copy,
    &.button-code {
      transition: all 0.3s;

      &:hover,
      &:focus {
        color: white;
        border: none;
      }
    }

    &.button-code {
      background-color: variables.$c-btn-primary;

      &:hover,
      &:focus {
        background-color: variables.$c-btn-primary-hover;
      }
    }

    &.button-copy {
      background-color: variables.$c-btn-secondary;
      margin-top: 1rem;

      &:hover,
      &:focus {
        background-color: variables.$c-btn-secondary-hover;
      }

      @media (min-width: config.$mq-500) {
        margin-left: 1.5rem;
        margin-top: 0;
      }
    }

    &[css="[object Object]"] {
      border: 2px solid variables.$c-btn-tertiary;
      border-radius: variables.$b-border-radius;
      background-color: transparent;
      color: variables.$c-btn-tertiary;
      vertical-align: middle;

      &:hover,
      &:focus {
        background-color: variables.$c-btn-tertiary;
        color: white;
      }
    }
  }
}

// ----------
// Form Override
// ----------

#mauticform_applyformformapp_qstn_hp_field,
#mauticform_input_surveyformgeneralformsrv_qstn_hp_field,
#mauticform_surveyformgeneralformsrv_c_sms_opt_in_ind,
#mauticform_contentgiveformformcg_qstn_hp_field,
#mauticform_surveyformgeneralformsrv_qstn_hp_field {
  display: none;
}
