@import "utilities/mixins";
@import "utilities/variables";

// ----------
// General Settings
// ----------

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding-bottom: 2rem;
}

.page-title h1,
.intro-wrap h2,
.intro-wrap h3,
.intro-wrap h4,
.intro-wrap p,
.code-block {
    @include fluidRem("padding-right", 1rem, 4rem);
    @include fluidRem("padding-left", 1rem, 4rem);
}

.page-title h1 {
    // $_f-fontFamily, $_f-fontWeight, $_f-lineHeight, $_f-letterSpacing, $_c-color
    @include setFont("Roboto Slab", 700, 3rem, 0.02rem, $c-heading-color);
    @include fluidRem("font-size", 2.5rem, 3.5rem);
    @include fluidRem("padding-bottom", 2rem, 4rem);
}

.intro-wrap {
    h2 {
        @include setFont("Roboto Slab", 300, 3rem, 0.02rem, $c-heading-color);
        @include fluidRem("font-size", 2.25rem, 3rem);
        @include fluidRem("padding-bottom", 1.75rem, 2rem);
    }

    h3 {
        @include setFont("Roboto Slab", 700, 2.5rem, 0.02rem, $c-heading-color);
        @include fluidRem("font-size", 2rem, 2.5rem);
    }

    p {
        @include setFont("Roboto", 300, 2rem, 0.02rem, $c-neutral-black);
        @include fluidRem("font-size", 1rem, 1.25rem);

        width: 100%;

        @media screen and (min-width: $mq-900) {
            width: 80%;
            margin: 0 auto;
        }
    }
}

.page-title,
.intro-wrap {
    @include fluidRem("padding-right", 1rem, 4rem);
    @include fluidRem("padding-left", 1rem, 4rem);
}

// ----------
// Navigation
// ----------

nav.main-menu {
    background-color: white;
    border-bottom: 2px solid $c-text-link;
    box-shadow: rgb(0 0 0 / 35%) 0 2rem 2rem -2rem;
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 5;
    margin-bottom: 2rem;

    ul {
        margin: 0;
        height: inherit;
    }

    li {
        height: inherit;
        display: flex;
        justify-content: space-evenly;
        align-content: center;

        a,
        a:visited {
            display: inline-block;
            align-self: center;
            color: $c-text-link;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
                color: $c-heading-color;
                font-weight: 700;
            }

            &:active {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: $mq-900) {
    nav.main-menu {
        height: 6.25rem;
    }
}

// ----------
// Code Block
// ----------

.code-block {
    button.code-toggle.code-toggle-style {
        border: none;
        border-radius: $b-border-radius;
        background-color: $c-btn-secondary;
        margin-right: 1.5rem;
        transition: all 0.3s;
    }

    button.code-toggle.code-toggle-style:hover,
    button.code-toggle.code-toggle-style:focus {
        background-color: $c-btn-secondary-hover;
        color: white;
    }

    button[css="[object Object]"] {
        border: 2px solid $c-btn-tertiary;
        border-radius: $b-border-radius;
        background-color: transparent;
        color: $c-btn-tertiary;
        vertical-align: middle;
    }

    button[css="[object Object]"]:hover {
        background-color: $c-btn-tertiary;
        color: white;
    }
}
