<section class="lp-school">
  <div class="center lp-school-wrapper">
    <div class="lp-school-content">
      <h2 class="lp-school-content-title">
        Learn more about the School Name.
      </h2>
      <ul class="lp-school-link-list">
        <li class="lp-school-tile-item">
          <div class="tile-container">
            <h3 class="tile-title">School link #1</h3>
            <p class="tile-copy">
              School link text. Lorem Ipsum is not simply random text. It has
              roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
            <p class="dynamic-link">
              <a href="https://www.lynchburg.edu/graduate/" id="link_X" target="_blank">Learn More</a>
            </p>
          </div>
        </li>
        <li class="lp-school-tile-item">
          <div class="tile-container">
            <h3 class="tile-title">School link #2</h3>
            <p class="tile-copy">
              School link text. Lorem Ipsum is not simply random text. It has
              roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
            <p class="dynamic-link">
              <a href="https://www.lynchburg.edu/graduate/" id="link_X" target="_blank">Learn More</a>
            </p>
          </div>
        </li>
        <li class="lp-school-tile-item">
          <div class="tile-container">
            <h3 class="tile-title">School link #3</h3>
            <p class="tile-copy">
              School link text. Lorem Ipsum is not simply random text. It has
              roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
            <p class="dynamic-link">
              <a href="https://www.lynchburg.edu/graduate/" id="link_X" target="_blank">Learn More</a>
            </p>
          </div>
        </li>
        <li class="lp-school-tile-item">
          <div class="tile-container">
            <h3 class="tile-title">School link #4</h3>
            <p class="tile-copy">
              School link text. Lorem Ipsum is not simply random text. It has
              roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old.
            </p>
            <p class="dynamic-link">
              <a href="https://www.lynchburg.edu/graduate/" id="link_X" target="_blank">Learn More</a>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>