<section class="lp-school">
  <div class="center lp-school-wrapper">
    <div class="lp-school-content">
      <h3 class="lp-school-content-title">
        Learn more about the School Name.
      </h3>
      <ul class="lp-school-link-list">
        <li class="lp-school-tile-item">
          <div class="link-wrap">
            <h4 class="tile-title">School link #1</h4>
            <span class="tile-copy">School link text. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</span>
          </div>
        </li>
        <li class="lp-school-tile-item">
          <div class="link-wrap">
            <h4 class="tile-title">School link #2</h4>
            <span class="tile-copy">School link text. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</span>
          </div>
        </li>
        <li class="lp-school-tile-item">
          <div class="link-wrap">
            <h4 class="tile-title">School link #3</h4>
            <span class="tile-copy">School link text. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</span>
          </div>
        </li>
        <li class="lp-school-tile-item">
          <div class="link-wrap">
            <h4 class="tile-title">School link #4</h4>
            <span class="tile-copy">School link text. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>