@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;

@mixin layout-apply2($sectionBgColor, $mq, $imgPosition) {
  background-color: $sectionBgColor;

  @media (min-width: $mq) {
    @if $imgPosition == "right" {
      >.center {
        grid-template-areas: "space apply gap image image";
      }
    } @else if $imgPosition == "left" {
      >.center {
        grid-template-areas: "image image gap apply space ";
      }
    }

    >.center {
      width: 100%;
      max-width: none;
      display: grid;
      grid-template-columns: 5% 1fr 3% 1fr 5%;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        grid-area: image;

        @content;
      }
    }

    .lp-apply-content {
      grid-area: apply;
    }
  }
}
