@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *

;

@mixin layout-apply1($sectionBgColor, $contentClass, $position, $mq) {
  background-color: $sectionBgColor;

  @media (min-width: $mq) {
    #{$contentClass} {
      width: 65%;

      @if $position == "left" {
        margin: 0 auto 0 0;
      } @else if $position == "right" {
        margin: 0 0 0 auto;
      }
    }

    @content;
  }
}
