@import 'utilities/variables';
@import 'utilities/mixins';


// ----------
// General Settings
// ----------

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2:not(.lp-apply-title), h3, h4 {
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif !important;
  color: $c-heading-color;
}

h1, h3 {
  font-weight: 700;
}

h2, h4 {
  font-weight: 300;
}

h1 {
  // @include fluidRem("font-size", 2.5rem, 3.5rem);
  font-size: 3.25rem !important;
}
h2 {
  // @include fluidRem("font-size", 2.25rem, 3rem);
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}

h2:not(.lp-apply-title) ~ p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: $c-neutral-black;
  /* selects every p element that is preceded by an H2 that doees NOT have the .lp-apply-title class */
}

// ----------
// General Settings
// ----------