@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
// @use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;


.🚀-survey-v1 {
// ================
// Survey Layout 1

.lp-intro-form {
  background: $c-white;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 35vw;
    background: $c-black url("/images/img-woman-cafe-lg.jpg") no-repeat right center / cover;
  }
  
  .lp-intro-form-content {
    @include boxSpacing(1rem, 2rem);
  }

  @media (min-width: $mq-800) {
    @include boxSpacing(4rem, 4rem);
    background: $c-black url("/images/img-woman-cafe-lg.jpg") no-repeat right center / cover;

    &::before {
      display: none;
    }

    .lp-intro-form-content {
      @include containerStyle;
      max-width: $mq-700;
      margin: auto;
    }
  }
}


}