<section class="lp-school-contact">
  <div class="center lp-school-wrapper">
    <div class="lp-school-contact-info">
      <div class="lp-school-contact-intro">
        {global-token=lp-contact-intro}
        <ul class="lp-school-contact-options">
          <li class="lp-school-contact-phone">
            <a href="tel:{global-token=school-phone}">{global-token=school-phone}</a>
          </li>
          <li class="lp-school-contact-email">
            <a href="mailto:{global-token=help-address}">{global-token=help-address}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>