<div class="header-nav">
  <div class="school-header-nav-wrapper">
    <header class="school-header">
      <div class="center school-header-wrapper">
        <h1 class="school-logo">The School Name</h1>
      </div>
    </header>
    <nav class="main-nav" id="main-nav">
      <div class="center">
        <ul>
          <li>
            <a href="#explore">Explore</a>
          </li>
          <li>
            <a href="#guide">Get Guide</a>
          </li>
          <li>
            <a href="#request">Request Info</a>
          </li>
          <li>
            <a href="#apply">Apply</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>