@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;

.🚀-header-nav-v2 {
// ================
// Header Layout 2

.header-nav{

  @include fluidRem("padding", 1rem 0, 1.5rem 0);

  .school-header-nav-wrapper{
    @include center;

    @media (min-width: $mq-700){
      display:flex;
      gap:1rem;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
    }
  }

  .school-header,
  .main-nav{

    .center{
      @include fullWidth;
    }
  }

  .school-header {
    
    @media (max-width: maxMQ($mq-700)){
      @include fluidRem("padding-bottom", 1rem, 1.5rem);
   }
  }
}

// ================
// Navigation

.main-nav {

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    display:flex;
    list-style: none;
    gap:1rem; //controls spacing between nav items
  }

  a {
    @include fluidRem("font-size", 0.875rem, 1.0625rem);
    width: 100%;
    height: 100%;
    padding-bottom:.25rem;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid black;

    &:hover,
    &:focus {

    }

    &.active {
      transition:none;
      color:white;
    }
  }
}


}