<section class="lp-school">
  <div class="center lp-school-wrapper">
    <div class="lp-school-content">
      <h2 class="lp-school-content-title">
        Learn more about the School Name.
      </h2>
      <ul class="lp-school-link-list">
        <li class="lp-school-tile-item">
          <details>
            <summary><h3 class="headline">School link #1</h3></summary>
            School link text. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          </details>
        </li>
        <li class="lp-school-tile-item">
          <details>
            <summary><h3 class="headline">School link #2</h3></summary>
            School link text. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          </details>
        </li>
        <li class="lp-school-tile-item">
          <details>
            <summary><h3 class="headline">School link #3</h3></summary>
            School link text. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          </details>
        </li>
      </ul>
    </div>
  </div>
</section>