@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
// @use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;

.🚀-school-content-v3 {
// ================
// School Content Layout 1

.lp-school-content {
  @include boxSpacing;

  // Leave <a> styles, delete from html if not needed.
  a{
    
  }

  .center{
    &:before{
      content:'';
      display:block;
      background: url("/images/img-woman-cafe.jpg") no-repeat center /cover; // mobile image
      width:100%;
      height:35vw;
      margin-bottom:1rem;
    }
  }

  .content-wrapper{
    .content-container{
      margin-bottom:1rem;
    }
  }

  @media (min-width: $mq-800){
    .center{
      display:grid;
      grid-template-columns: auto 60%;
      align-items:center;
      gap:2rem;

      &:before{
        background: url("/images/img-woman-cafe.jpg") no-repeat center /cover; // desktop image
        height:100%;
        margin:0;
      }
    }
  }
}


}