<!-- Apply layout 5 -->
<section class="lp-apply">
  <div class="center lp-apply-wrapper">
    <div class="content-container lp-apply-content">
      <div class="lp-apply-copy">
        <h2 class="lp-apply-title">
          Experience Support, Service, and Success
        </h2>
        <p>
          Expand your professional potential with one of our highly-regarded
          master's or doctoral degrees. We promise a personalized,
          inclusive, and immersive learning experience that prepares you for
          greater success. Submit your application today with these
          benefits:
        </p>
      </div>
      <div class="lp-apply-copy-form">
        <ul>
          <li>GRE waivers available</li>
          <li>Application fee waivers available</li>
          <li>
            Scholarships, assistantships, and stipends available for most
            programs
          </li>
        </ul>

        <div class="apply-form lp-apply-form">
          {form=##}
          {global-token=lp-program-filtering}
        </div>

        <div class="lp-apply-footer">
          {global-token=lp-apply-footer}
        </div>
      </div>
    </div>
  </div>
</section>