<section class="lp-apply">
  <div class="center lp-apply-wrapper">
    <div class="content-container lp-apply-content">
      <div class="lp-apply-copy">
        <h2 class="lp-apply-title">
            Experience Support, Service, and Success
        </h2>
        <p>
            Expand your professional potential with one of our highly-regarded
            master's or doctoral degrees. We promise a personalized, inclusive,
            and immersive learning experience that prepares you for greater
            success. Submit your application today with these benefits:
        </p>
        <ul>
          <li>GRE waivers available</li>
          <li>Application fee waivers available</li>
          <li>
              Scholarships, assistantships, and stipends available for most
              programs
          </li>
        </ul>
      </div>

      <div class="apply-form lp-apply-form">
        <!-- Add app form token -->
      </div>

      <div class="lp-apply-footer">
        {global-token=lp-apply-footer}
      </div>
    </div>
  </div>
</section>