@use "sass:color";
@use "sass:math";
@use "styles/sass/foundation/config" as *;
@use "styles/sass/foundation/components" as *;


.apply-v6 {

  .lp-apply {	

    &::before {
      content: '';
      display: block;
      background: url(#{$x-imgAssetPath}img-woman-cafe-lg.jpg) no-repeat right 30% / cover;
      height: 40vw;
      width: 100%;
      max-height: 22rem;
    }

  }
}


