<section class="lp-video">

  <!-- If you have multiple videos on your page move this script to your <head> -->
  <script src="https://admiss.info/acquia-template/lazy-yt.min.js" defer></script>
  
  <div class="center lp-video-wrapper">
    <div class="video-intro">
      <h2>Reach Your <span class="title-accent">Fullest</span> Potential</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

    <div class="video-container lazy-yt" data-video-id="VIDEO_ID"></div>
  </div>
</section>