<footer class="school-footer" role="contentinfo">
  <div class="school-footer-wrapper center">
    <div class="school-footer-content">
    <div class="school-footer-name">the School Name</div>
    
    <address class="school-footer-address">
      Street Address<br />
      TBD, 2-digit state code #####
    </address>
    </div>
    
    <ul class="school-footer-links">
      <li><a href="/help" target="_blank">Technical Help</a></li>
      <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
    </ul>
  </div>
</footer>