<footer class="school-footer" role="contentinfo">
  <div class="school-footer-wrapper center">
    <div class="school-footer-content">
    <div class="school-footer-name">the School Name</div>

    <address class="school-footer-address">Street Address<br />
    TBD, 2-digit state code #####</address>
    </div>

    <ul class="school-footer-links">
      <li><a data-fancybox="help-modal" data-modal="true" data-src="#help-modal" href="#">Technical Help</a></li>
      <li><a data-fancybox="privacy-modal" data-modal="true" data-src="#privacy-modal" href="#">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
