<footer class="school-footer">
  <div class="school-footer-wrapper center">
    <div class="school-footer-content">
      <div class="school-footer-name">the School Name</div>

      <address class="school-footer-address">
        Street Address, <span class="line-break">TBD, 2-digit state code #####</span>
      </address>

      <ul class="school-footer-links">
        <li><a href="/help">Technical Help</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>  
      </ul>
    </div>
  </div>
</footer>
