<div class="lp-social-proof">
  <div class="center social-proof-wrapper">
    <div class="social-proof-container">
      <img alt="Sneha Soni" class="social-proof-photo" height="100" width="100" src="https://admiss.info/assets/lp-live/1537-hoo-g-live/img-sneha.jpeg" />
      
      <div class="social-proof-quote">
        <blockquote>
        <p>Whether through our flexible online programs or the option to turn real-life experience into college credit, it's our mission to assist our hardworking students however we can. The dedication our graduate students show in their careers, academics, and personal responsibilities inspires us every day. We're proud to be there for them during each step of their journey at MBU.</p>
        </blockquote>
        <div><figcaption>— Meghan Munsey, Associate Director of First Year Experience, MBU&nbsp;Online</figcaption></div>
      </div>
    </div>
  </div>
</div>