<div class="lp-testimonial">
  <div class="center testimonial-wrapper">
    <div class="testimonial-container">          
      <div class="testimonial-quote">
        <blockquote>
        <p>Whether through our flexible online programs or the option to turn real-life experience into college credit, it's our mission to assist our hardworking students however we can. The dedication our graduate students show in their careers, academics, and personal responsibilities inspires us every day. We're proud to be there for them during each step of their journey at MBU.</p>
        </blockquote>
        <div class="img-cite">
          <img alt=" " class="testimonial-photo" height="100" width="100" src="https://admiss.info/assets/lp-live/1537-hoo-g-live/img-sneha.jpeg" />
          <cite>Meghan Munsey<br/>Associate Director of First Year Experience<br/>MBU&nbsp;Online</cite>
        </div>
      </div>
    </div>
  </div>
</div>