<section class="lp-intro-form" id="lp-intro-form">
  <div class="center lp-intro-form-wrapper">
    <div class="lp-intro-form-content">

      <div class="lp-intro">
        <h2 class="lp-intro-title">Headline related to ad copy.</h2>
        <div class="lp-intro-copy">
          <p>Lorem ipsum dolor sit amet consectetur. Eu blandit netus scelerisque sit elit. Non lacus ultrices lectus purus a tortor quam interdum. Et sed iaculis enim.</p>
          <p><strong>Key Benefits of the program/school</strong></p>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur. Eu blandit netus scelerisque sit elit. Non lacus ultrices lectus purus a tortor quam interdum. Et sed iaculis enim.</li>
            <li>Non lacus ultrices lectus purus a tortor quam interdum. Et sed iaculis enim. Lorem ipsum dolor sit amet consectetur.</li>
            <li>Eu blandit netus scelerisque sit elit. Non lacus ultrices lectus purus a tortor quam interdum. Et sed iaculis enim.</li>
          </ul>
        </div>
      </div>

      
      <div class="lp-form">            
        <!-- <div class="lp-form-intro">
          <h3 class="lp-form-intro-title"></h3>
          <div class="lp-form-intro-copy"></p>
          </div>
        </div> -->

        <div class="lp-form-fields" id="form-form">
          {form=48}
          {global-token=lp-program-filtering}
        </div>

        <div class="lp-form-footer"></div>
      </div>
    </div>
  </div>
</section>