<section className="lp-intro-form" id="lp-intro-form">
  <div className="lp-inquiry-title">
    <div className="center">
      <div className="content-container">
        <h1 className="lp-intro-title">Headline related to ad copy.</h1>
      </div>
    </div>
  </div>
  <div className="lp-intro-form-wrapper">
    <div className="center">
      <div className="lp-intro-form-content">
        <div className="lp-intro">
          <div className="lp-intro-copy">
            <p>
              Lorem ipsum dolor sit amet consectetur. Eu blandit netus
              scelerisque sit elit. Non lacus ultrices lectus purus a tortor
              quam interdum. Et sed iaculis enim.
            </p>
            <p>
              <strong>Key Benefits of the program/school</strong>
            </p>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur. Eu blandit netus
                scelerisque sit elit. Non lacus ultrices lectus purus a tortor
                quam interdum. Et sed iaculis enim.
              </li>
              <li>
                Non lacus ultrices lectus purus a tortor quam interdum. Et sed
                iaculis enim. Lorem ipsum dolor sit amet consectetur.
              </li>
              <li>
                Eu blandit netus scelerisque sit elit. Non lacus ultrices lectus
                purus a tortor quam interdum. Et sed iaculis enim.
              </li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet consectetur. Eu blandit netus
              scelerisque sit elit. Non lacus ultrices lectus purus a tortor
              quam interdum. Et sed iaculis enim.
            </p>
          </div>
        </div>

        <div class="lp-form">            
          <div class="lp-form-intro">
            <h2 class="lp-form-intro-title"></h2>
            <p class="lp-form-intro-copy"></p>
          </div>
  
          <div class="lp-form-fields" id="form-form">
            {form=48}
            {global-token=lp-program-filtering}
          </div>
  
          <div class="lp-form-footer"></div>
        </div>
      </div>
    </div>
  </div>
</section>