@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
// @use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;


.🚀-inquiry-v2 {
// ================
// Inquiry Layout 1

.lp-intro-form {  
  @include boxSpacing();
  background: $c-lightGrey;

  .lp-intro{
    max-width: 75ch;
    margin:auto;
  }

  .lp-form {
    margin-top: 2rem;
    border: 1px solid $c-lightGrey;

    .lp-form-fields {
      @include containerStyle();
    }

    &::before {
      content: '';
      display: block;
      background: url("/images/img-woman-cafe.jpg") no-repeat center / cover;
      height:30vw;
      min-height:10rem;
      width: 100%;
    }
  }  


  @media (min-width: $mq-900) and (max-width: $mq-1000){

    // keep required label from breaking independently. 
    .mauticform-row-partial-half{
      width:100%;
    }
  }

  @media (min-width: $mq-900) {

    .lp-intro-form-content {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      gap: 0 2rem;
      align-items: center;
    }

    .lp-intro{
      p:last-child,
      ul:last-child{
        margin-bottom:0;
      }
    }

    .lp-form {
      margin: 0;  
      display:flex;
      flex-direction:column;
      height:100%;
      
      //img
      &:before{
        height:100%;
      }
    }
  }
}


}