<div class="stats-v3 layout-section">
  <div class="lp-stats-section">
    <div class="center">
      <ul class="lp-stats-list">
        <li class="lp-stats-item">
          <div class="lp-stats-item-wrapper">
            <span class="emphasis">8</span>
            <span class="title">Top-Ranked Programs</span>
            <span class="description">
              Supporting copy with enough verbiage to provide context and
              value. Supporting copy with enough verbiage to provide context
              and value.
            </span>
            <span class="source">
              - <i>U.S. News & World Report</i>
            </span>
          </div>
        </li>
        <li class="lp-stats-item">
          <div class="lp-stats-item-wrapper">
            <span class="emphasis">R1</span>
            <span class="title">Research University</span>
            <span class="description">
              Supporting copy with enough verbiage to provide context and
              value. Supporting copy with enough verbiage to provide context
              and value.
            </span>
            <span class="source">
              - <i>U.S. News & World Report</i>
            </span>
          </div>
        </li>
        <li class="lp-stats-item">
          <div class="lp-stats-item-wrapper">
            <span class="emphasis">#13</span>
            <span class="title">Best Value</span>
            <span class="description">
              Supporting copy with enough verbiage to provide context and
              value. Supporting copy with enough verbiage to provide context
              and value.
            </span>
            <span class="source">
              - <i>U.S. News & World Report</i>
            </span>
          </div>
        </li>
        <li class="lp-stats-item">
          <div class="lp-stats-item-wrapper">
            <span class="emphasis">Top 20</span>
            <span class="title">Salary-Boosting School</span>
            <span class="description">
              Supporting copy with enough verbiage to provide context and
              value. Supporting copy with enough verbiage to provide context
              and value.
            </span>
            <span class="source">
              - <i>U.S. News & World Report</i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>