<section class="lp-badges-section">
  <div class="center">
    <ul class="lp-stats-list">
      <li>
        <div class="item-container">
          <img alt="U.S. News &amp; World Report Rankings - " height="100" width="100" src="https://admiss.info/assets/lp-live/111-layout-lib-live/student-journey/img-badge-xxx.png"  />
        </div>
      </li>
      <li>
        <div class="item-container">
          <img alt="U.S. News &amp; World Report Rankings - " height="100" width="100" src="https://admiss.info/assets/lp-live/111-layout-lib-live/student-journey/img-badge-xxx.png" />
        </div>
      </li>
      <li>
        <div class="item-container">
          <img alt="U.S. News &amp; World Report Rankings - " height="100" width="100" src="https://admiss.info/assets/lp-live/111-layout-lib-live/student-journey/img-badge-xxx.png" />
        </div>
      </li>
    </ul>
  </div>
</section>
