@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
// @use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;

.🚀-stats-v1 {
  // ================
  // Stats Layout 1

.lp-stats-section {
  @include boxSpacing(2rem, 2rem);

  .lp-stats-list {
    margin: 0;
    padding: 0;

    // Layout if there are 3 items
    &:has(> :nth-child(3):last-child) {
      @include gridItems ($_x-number: "3", $_mq-small: $mq-600, $_mq-large: $mq-800, $_x-gridGapSmall: 1.5rem, $_x-gridGapLarge: 2rem);
    }

    // Layout if there are 4 items
    &:has(> :nth-child(4):last-child) {
      @include gridItems ($_x-number: "4", $_mq-small: $mq-600, $_mq-large: $mq-1000, $_x-gridGapSmall: 1.5rem, $_x-gridGapLarge: 2rem);
    }

    li {
      // @include containerStyle($c-white);
      list-style-type: none;
      text-align: center;

      span {
        display: block;
      }

      .emphasis,
      .title {
        font-weight: 900;
        font-style: normal;
        margin-bottom: 1rem;
      }

      .emphasis {
        @include fluidRem("font-size", 3rem, 5rem);
        line-height: 1;
      }

      .title {
        @include fluidRem("font-size", 1.25rem, 1.5rem); 
      }
    }
  }
}


}