@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;

.🚀-stats-v2 {
  // ================
  // Stats Layout 2

.lp-stats-section {
  @include boxSpacing(2rem, 2rem);

  .lp-stats-list {
    margin: 0;
    padding: 0;
    @include gridItems("3", $mq-700, $mq-900, 2rem, 2rem);

    li {
      list-style-type: none;
      text-align: center;

      ~ li {
        border-top: 1px solid $c-black;
        padding-top: 2rem;
      }

      &::before {
        content: '';
        display: block;
        font-family: $f-iconFont;
        color: lighten($c-black, 60%);
        text-align: center;
        @include fluidRem("font-size", 3rem, 4rem);
        margin-bottom: 1rem;
        line-height: 1.1;
      }

      &:nth-child(1) {
        
        &::before {
          content: $i-university;
        }
      }

      &:nth-child(2) {
        &::before {
          content: $i-laptop;
        }
      }

      &:nth-child(3) {
        &::before {
          content: $i-gradCap;
        }
      }

      span {
        display: block;
      }

      .emphasis,
      .title {
        font-weight: 900;
        font-style: normal;
      }

      .emphasis {
        @extend h1;
        font-family: $f-bodyFont;
        margin-bottom: 0.5rem;
      }

      .title {
        @extend h5;
        font-family: $f-bodyFont;
      }

      .link {
        margin-top: 1rem;
      }
    }

    @media (min-width: $mq-700) {
      // Whatever is declared as the first media query in the gridItems mixin above
      li {
        max-width: 30rem;
        margin: 0 auto;

        ~ li {
          border-top: none;
          padding-top: 0;
        }
      }
    }
  }

}

}