@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;

.🚀-stats-v2 {
  // ================
  // Stats Layout 2

.lp-stats-section {
  @include boxSpacing(2rem, 2rem);

  .lp-stats-list {
    margin: 0;
    padding: 0;

    // Layout if there are 3 items
    &:has(> :nth-child(3):last-child) {
      @include gridItems ($_x-number: "3", $_mq-small: $mq-700, $_mq-large: $mq-900, $_x-gridGapSmall: 2rem, $_x-gridGapLarge: 2rem);
    }

    // Layout if there are 4 items
    &:has(> :nth-child(4):last-child) {
      @include gridItems ($_x-number: "4", $_mq-small: $mq-700, $_mq-large: $mq-1100, $_x-gridGapSmall: 2rem, $_x-gridGapLarge: 2rem);
    }

    li {
      list-style-type: none;
      text-align: center;

      ~ li {
        border-top: 1px solid $c-black;
        padding-top: 2rem;
      }

      &::before {
        content: '';
        display: block;
        font-family: $f-iconFont;
        color: lighten($c-black, 60%);
        text-align: center;
        @include fluidRem("font-size", 3rem, 4rem);
        margin-bottom: 1rem;
        line-height: 1.1;
      }

      &:nth-child(1) {
        
        &::before {
          content: $i-university;
        }
      }

      &:nth-child(2) {
        &::before {
          content: $i-laptop;
        }
      }

      &:nth-child(3) {
        &::before {
          content: $i-gradCap;
        }
      }

      span {
        display: block;
      }

      .title {
        @extend h5;
        font-family: $f-bodyFont;
        font-weight: 900;
        font-style: normal;
      }

      .link {
        margin-top: 1rem;
      }
    }

    @media (min-width: $mq-700) {
      // Whatever is declared as the first media query in the gridItems mixin above
      li {

        ~ li {
          border-top: none;
          padding-top: 0;
        }
      }
    }
  }

}

}