@use "sass:color";
@use "sass:math";
@use "library/foundation/config" as *;
@use "library/foundation/components" as *;
@use "library/foundation/utilities" as *;


.stats-v3 {

.lp-stats-section {
  @include boxSpacing(2rem, 2rem);

  .lp-stats-list {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 2fr;

      ~ li {
        margin-top: 2rem;
      }

      &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
      }

      &:nth-child(1) {
        &::before {
          background: url("/images/img-woman-cafe.jpg") no-repeat center / cover;
        }
      }

      &:nth-child(2) {
        &::before {
          background: url("/images/img-woman-cafe.jpg") no-repeat center / cover;
        }
      }

      &:nth-child(3) {
        &::before {
          background: url("/images/img-woman-cafe.jpg") no-repeat center / cover;
        }
      }

      &:nth-child(4) {
        &::before {
          background: url("/images/img-woman-cafe.jpg") no-repeat center / cover;
        }
      }

      .lp-stats-item-wrapper {
        background: $c-white;
        padding: 1.5rem;
      }

      span {
        display: block;

        ~ span {
          margin-top: 1rem;
        }
      }

      .emphasis,
      .title {
        font-weight: 900;
        font-style: normal;
      }

      .emphasis {
        @include fluidRem("font-size", 2rem, 3rem);
        line-height: 1;
      }

      .title {
        @include fluidRem("font-size", 1.25rem, 1.5rem); 
      }

      .source {
        @extend small;
      }
    }
  }

  @media (min-width: $mq-1000) {
    // Change media queries based on content
    .lp-stats-list {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      grid-gap: 2rem;

      li {
        ~ li {
          margin-top: 0;
        }
      }
    }
  }
}

}